<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
         <div class="main-content">
            {{>header}} 
            <p>Fetches data using Open Map API and WeatherStack API.</p>
            <img class="potrait" src= "/img/to-do.jpg">
        </div>
        
        {{>footer}}
        
    </body>
    
</html>